.dashboardScreen {
    color: white;
    background-color: lightblue;
    padding: 10%;
   /* display: none;*/
}

.container-fluid {
    padding: 0px;
}

.row {
    margin-right: 5px;
    margin-left: 15px;
}