.dashboardScreen {
    color: white;
    background-color: lightblue;
    padding: 10%;
   /* display: none;*/
}
/*
.gastoTotal {
    height: 150px;
}*/
.container-fluid {
    padding: 0px;
    margin:0px;
}

.row {
    /*margin-right: 0px;
    */margin-left: 15px;
}


.parent {
    display: grid;
    grid-template-columns: 15% repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    /*gasto total envios
    */
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        padding-top:10%;
    }
  /*calcular distancia
    */
    .div2 { 
        grid-area: 2 / 1 / 4 / 2; 
        padding-top: 5%;
    }
    /*top5 departamentos envios*/
    .div3 { 
        grid-area: 4 / 1 / 7 / 2; 
        padding-top: 5%;

    }

    /*listado de envios*/
    .div4 { 
        grid-area: 1 / 2 / 7 / 5; 
    }

    .div1,.div2,.div3,.div4 {
        border:1px dotted lightgray;
        border-radius: 2%;
        margin: 5px 0 5px 0;
       /* padding:10% 0 10% 0;*/
        margin-right: 5px;
    }

   /* .table td, .table th {
        border-top:0;
    }*/